.IconRect
  fill steelblue

.DocRect
  fill steelblue
  stroke-width 1
  stroke rgb(0,0,0)

line
  stroke-width 1
  stroke gray
  opacity 0.2

.doc
  font-family arial,helvetica,'sans-serif'
  font-size 12px
  padding 2px
  //position absolute
  fill white
  p
    margin 0

p
  &.doc-content
    margin-top 8px
    //overflow scroll

.doc-title
  font-size 18px
  text-align center
